body{
    background-color: white;
}
.container1{
    display: flex;
    justify-content: space-evenly; 
     background: linear-gradient(to right, red,green,yellow);
    width: 110%;
    height:40px;
    margin-top: -1px;
    margin-bottom: 0px;
    padding-top: 0px;
}
.container2{
    display: flex;
    justify-content: center;
    border: 4px solid red;
    width: 50%;
    height: 70px;
    background-color: lightblue;
    margin-top: 30px;
    margin-left: 390px;
    margin-right: 2px;
    padding-top: 0%;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid black;
    background-color: lightgreen;
    width: 100%;
    height: 240px;
    margin-top:40px ;
}
.box1{
    border: 3px solid green;
    background-color: aqua;
    width: 30%;
    height: 110px;
    color: black;
}
.box2{
    border: 3px solid green;
    background-color: aqua;
    width: 30%;
    height: 110px;
    color: black;
}
.box3{
    border: 3px solid green;
    background-color: aqua;
    width: 30%;
    height: 110px;
    color: black;
    
}
.box4{
    border: 3px solid green;
    background-color: aqua;
    width: 30%;
    height: 110px;
    color: black;
}
.container4{
    display: flex;
    justify-content: space-evenly; 
    background: linear-gradient(to right,red,orange,red);
    width: 110%;
    height:40px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    color: black;

}
.container5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid black;
    background: linear-gradient(to right, aqua,blue,aqua);
    width: 100%;
    height: 240px;
    margin-top:10px ;
}
.card1{
    border: 2px solid brown;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: yellow;
    width: 10%;
    height: 110px;
    text-align: center;
    margin-top: 50px; 
}
.card2{
    border: 2px solid brown;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: yellow;
    width: 10%;
    height: 110px;
    text-align: center;
    margin-top: 50px; 
}
.card3{
    border: 2px solid brown;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: yellow;
    width: 10%;
    height: 110px;
    text-align: center;
    margin-top: 50px; 
}
.card4{
    border: 2px solid brown;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: yellow;
    width: 10%;
    height: 110px;
    text-align: center;
    margin-top: 50px; 
}
.container6{
    display: flex;
    justify-content: space-evenly; 
    background-color: red ;
    width: 110%;
    height:40px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    color: white;

}
.container7{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    height: 240px;
    margin-top:40px;
}
.fbox{
    background-color:rgb(41, 230, 41);
    width: 30%;
    height: 80px;
    color:white;
    text-align: center;
}
.sbox{
    background-color:rgba(62, 62, 190, 0.884);
    width: 30%;
    height: 80px;
    color:white;
    text-align: center;
}
.tbox{
    background-color:blueviolet;
    width: 30%;
    height: 80px;
    color:white;
    text-align: center;
}
.fobox{
    background-color:black;
    width: 8%;
    height: 230px;
    color:white;
   padding: 0%;
   margin-top: 0px;
}
.fivbox{
    background-color:orange;
    width: 91%;
    height: 95px;
    color:white;
    padding: 0%;
    margin-top: -110px;
    margin-right: 110px;
}
.container8{
    display: flex;
    justify-content: space-evenly; 
    background-color: aquamarine;
    width: 110%;
    height:40px;
    margin-top: -1px;
    margin-bottom: 0px;
    padding-top: -10px;
    text-align: center;

}
